<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Added</title>
  </head>
  <body>
    <h1>User was Created and Added</h1>
    <ul>
      <li>
        <a href="/users"><button>Check Updated Users List</button></a>
      </li>
      <li>
        <a href="/newUser"><button>Or Create Another User</button></a>
      </li>
    </ul>
  </body>
</html>
