<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    <h1>Create New User</h1>
    <form action="/newuser" method="post">
      <label for="username">UserName: </label>
      <input type="text" name="username" id="username" />
      <label for="position">Position: </label>
      <input type="text" name="position" id="position" />
      <button type="submit">Submit form</button>
    </form>
  </body>
</html>
