<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Failed</title>
  </head>
  <body>
    <h1>ERROR User Wasn't Created Successfully</h1>
    <ul style="display: inline">
      <li>
        <a href="/"><button>Check List of Users</button></a>
      </li>
      <li>
        <a href="/newuser"><button>Or Try Creating a New User</button></a>
      </li>
    </ul>
  </body>
</html>
