<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Users</title>
  </head>
  <body>
    <h1><%= greeting%></h1>
    <h2>Users Data:</h2>
    <ul>
      <% for(let user of listOfUsers){%>
      <li>
        <b>Name:</b> <%=user.username%> --- <b>Position: </b><%=user.position%>
      </li>
      <%}%>
    </ul>
    <a href="/newuser"><button>Create New User</button></a>
  </body>
</html>
